h1 {
  color: red;
}

p {
  color: green;
}

#para3 {
    color: yellowgreen;
}

.para4 {
    color: aqua;
    font-family: Arial, Helvetica, sans-serif;
}

h5, h2, h3, h4 {
    color: rgb(12, 71, 51);
}

div span {
    color: aqua;
}